.login-div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    row-gap: 10vh;
    width: 100vw;
    height: 100vh;
}

.login-div>button {
    width: 200px;
    height: 50px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}