.post-data-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: 1px solid gray;
    padding: 5px;
    cursor: pointer;
    width: 25vw;
}